In [2]:
from transformers import AutoTokenizer

In [4]:
# train_dataset을 불러오고 싶은 경우
from datasets import (
    Dataset,
    load_from_disk,
    concatenate_datasets,
)

org_dataset = load_from_disk("/opt/ml/input/data/train_dataset")
dataset = concatenate_datasets(
    [
        org_dataset["train"].flatten_indices(),
        org_dataset["validation"].flatten_indices(),
    ]
) # train dev 를 합친 4192 개 질문에 대해 모두 테스트

print(dataset)

Loading cached processed dataset at /opt/ml/input/data/train_dataset/train/cache-5864ec783ab77348.arrow
Loading cached processed dataset at /opt/ml/input/data/train_dataset/validation/cache-ec5c6075463087d0.arrow

Dataset({
    features: ['__index_level_0__', 'answers', 'context', 'document_id', 'id', 'question', 'title'],
    num_rows: 4192
})

In [3]:
model_name = "xlm-roberta-large"

tokenizer = AutoTokenizer.from_pretrained(
    model_name,
    use_fast=True
)

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=513.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=5069051.0, style=ProgressStyle(descript…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=9096718.0, style=ProgressStyle(descript…

In [4]:
tokenizer_eda_question = []
tokenizer_eda_context = []

for data in dataset['train']:
    tokenized_question = len(tokenizer.encode(data['question']))
    tokenizer_eda_question.append([data['question'], tokenized_question])
    
    tokenized_context = len(tokenizer.encode(data['context']))
    tokenizer_eda_context.append([data['context'], tokenized_context])

Token indices sequence length is longer than the specified maximum sequence length for this model (1157 > 512). Running this sequence through the model will result in indexing errors

In [5]:
# print(tokenizer_eda)

In [6]:
from pandas import DataFrame

In [7]:
df_question = DataFrame(tokenizer_eda_question, columns=['Question', 'len'])

In [8]:
df_question

                                     Question  len
0            대통령을 포함한 미국의 행정부 견제권을 갖는 국가 기관은?   18
1                      현대적 인사조직관리의 시발점이 된 책은?   15
2              강희제가 1717년에 쓴 글은 누구를 위해 쓰여졌는가?   21
3     11~12세기에 제작된 본존불은 보통 어떤 나라의 특징이 전파되었나요?   24
4                  명문이 적힌 유물을 구성하는 그릇의 총 개수는?   18
...                                       ...  ...
3947             대부분의 이오의 산이 형성되는데 영향을 끼친 것은?   17
3948                           애니는 어디서 태어났는가?   11
3949     1854년에 니콜라이의 뒤를 이어 상임 지휘자로서 활동한 인물은?   23
3950                      드래곤의 암수 구분이 있는 신화는?   15
3951         올레 폰 보이스트 이후에 시장으로 임명된 사람은 누구인가?   20

[3952 rows x 2 columns]

In [9]:
df_question['len'].describe()

count    3952.000000
mean       19.794281
std         5.020529
min         8.000000
25%        16.000000
50%        19.000000
75%        23.000000
max        43.000000
Name: len, dtype: float64

In [10]:
df_context = DataFrame(tokenizer_eda_context, columns=['Context', 'len'])

In [11]:
df_context

                                                Context  len
0     미국 상의원 또는 미국 상원(United States Senate)은 양원제인 미국...  458
1     '근대적 경영학' 또는 '고전적 경영학'에서 현대적 경영학으로 전환되는 시기는 19...  317
2     강희제는 강화된 황권으로 거의 황제 중심의 독단적으로 나라를 이끌어 갔기에 자칫 전...  490
3     불상을 모시기 위해 나무나 돌, 쇠 등을 깎아 일반적인 건축물보다 작은 규모로 만든...  433
4     동아대학교박물관에서 소장하고 있는 계사명 사리구는 총 4개의 용기로 구성된 조선후기...  368
...                                                 ...  ...
3947  이오의 산\n이오의 산 목록\n 이오에는 100~150개의 산이 있다. 이들 산의 ...  751
3948  애니의 고군분투 뉴욕 입성기!!\n\n인류학자가 꿈인 21살 소녀 '애니(스칼렛 요...  392
3949  1842년에 작곡가이자 지휘자인 오토 니콜라이가 빈 궁정 오페라극장 소속 관현악단을...  885
3950  원어는 고대 그리스어까지 거슬러 올라간다. 영어 문헌에 이 말이 나타나기 시작한 것...  657
3951  2008년 2월 28일 실시된 2008년 함부르크 주의회 선거에서 기민련은 과반수 ...  341

[3952 rows x 2 columns]

In [12]:
df_context['len'].describe()

count    3952.000000
mean      542.023279
std       212.089879
min       255.000000
25%       378.750000
50%       483.000000
75%       647.000000
max      1322.000000
Name: len, dtype: float64